@charset "UTF-8";
@import '../app/common-variable';
//mp-resource-niche
.mp-resn-count-ttl {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f6f6f6;
  padding-left: 17px;
  font-size: 14px;
  color: #333;
}

.mp-resn-tm-sch {
  text-align: center;
}

.mp-resn-tm-sch-pd {
  padding-top: 14px;
  padding-bottom: 14px;
}

.mp-resn-tm-sch-btn {
  width: 60px;
  height: 38px;
  line-height: 38px;
  background: #e2202d;
  color: #fff;
}

.mp-resn-tm-sch-ipt {
  width: 200px;
  height: 38px;
  border: 1px solid $mp-bd-color;
  margin-right: 12px;
}

.mp-resn-tm-sch-inf {
  color: #333;
  margin-right: 26px;
}

//incomNum:income number
.mp-resn-incomNum {
  width: 100%;
  border-top: 1px solid $mp-bd-color;
  border-bottom: 1px solid $mp-bd-color;
  text-align: center;
}

.mp-resn-incomNum:after {
  content: '';
  display: block;
  clear: both;
}

.mp-resn-incomNum-pd {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mp-resn-incomNum-l,
.mp-resn-incomNum-r {
  float: left;
  width: 50%;
  font-size: 48px;
}

.mp-resn-incomNum-l {
  border-right: 1px solid $mp-bd-color;
  color: #37b0f7;
}

.mp-resn-incomNum-r {
  color: #e2202d;
}

.mp-resn-incomNum-l-inf {
  font-size: 14px;
  color: #999;
}

.mp-resn-chosRes-btn {
  width: 116px;
  height: 38px;
}

.mp-resn-sch-gp {
  width: 260px;
  height: 38px;
  line-height: 38px;
  border: 1px solid $mp-bd-color;
  font-size: 13px;
}

.mp-resn-sch-gp-ipt {
  border: none;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mp-resn-sch-icon {
  color: #c8cccd;
  float: right;
  margin-right: 10px;
}

/*编辑媒体平台*/
//medp:MediaPlatform
.mp-resn-medp-ipt {
  width: 360px;
  height: 38px;
  border: 1px solid $mp-bd-color;
}

.mp-resn-medp-form {

}

.mp-resn-medp-form .mp-form-name {
  width: 110px;
}

.mp-resn-medp-form-pd {
  padding-top: 30px;
}

.mp-resn-medp-ta {
  width: 700px;
  height: 100px;
}

/*编辑媒体平台End*/

/*新增资源位*/
.mp-resn-editResn-form {

}

.mp-resn-editResn-form .mp-form-name {
  width: 164px;
  padding-right: 34px;
}

.mp-resn-editResn-form-pd {

}

.mp-form-upArea {
  width: 78px;
  height: 78px;
  line-height: 78px;
  font-size: 14px;
  background: #f6f6f6;
  color: #c8cccd;
  text-align: center;
  cursor: pointer;
}

.mp-resn-editResn-hovinf {
  position: absolute;
  color: #c6cacb;
  font-size: 16px;
  line-height: 1;
  margin-top: 2px;
  margin-left: 3px;
  cursor: pointer;
}

$hovinf-tip-arrow-w: 6px;
.mp-resn-editResn-hovinf-tip .arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: $hovinf-tip-arrow-w*-1;
  right: 2px;
  border-top-color: $mp-bd-color;
  /* border-top-color: rgba(0,0,0,.25); */
  border-width: $hovinf-tip-arrow-w;
  border-bottom-width: 0;

}

.mp-resn-editResn-hovinf-tip .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 1px;
  margin-left: $hovinf-tip-arrow-w*-1;
  content: '';
  border-width: $hovinf-tip-arrow-w;
  border-top-color: #f6f6f6;
  border-bottom-width: 0;
}

.mp-resn-editResn-hovinf-tip {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 188px;
  font-size: 12px;
  text-align: left;
  min-height: 64px;
  background: #f6f6f6;
  border: 1px solid $mp-bd-color;
  color: #1b2129;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
}

/*新增资源位End*/

/*资源位浏览*/

.mp-resnList-sch {
  border: 1px solid $mp-bd-color;
  border-bottom: none;
}

.mp-resnList-sch-mg {
  margin: 14px;
  margin-bottom: 0;
}

.mp-resnList-sch-ttl {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 38px;
}

.mp-resnList-sch-ttl:after {
  content: '';
  display: block;
  clear: both;
}

.mp-resnList-sch-gird {

}

.mp-resnList-sch-gird table {
  width: 100%;
  border-bottom: 1px solid $mp-bd-color;
}

.mp-resnList-sch-gird thead tr {
  background: #f6f8fa;
  border-top: 1px solid $mp-bd-color;
  border-bottom: 1px solid $mp-bd-color;
}

.mp-resnList-sch-gird th {
  height: 44px;
  padding-left: 18px;
  min-width: 120px;
  text-align: left;
  font-size: 14px;
}

.mp-resnList-sch-gird th:last-child {
  width: 99%;
}

.mp-resnList-sch-gird tbody tr {
  vertical-align: top;
}

.mp-resnList-sch-gird ul {
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.mp-resnList-sch-gird li {
  margin-bottom: 10px;
  color: #666;
  font-size: 12px;
}

.mp-resnList-sch-gird li:last-child {
  margin-bottom: 0;
}

.mp-resnList-sch-cmore {
  width: 114px;
  height: 32px;
  line-height: 32px;
  border: 1px solid $mp-bd-color;
  border-top: none;
  background: #fff;
}

/*资源位浏览*/