@charset "UTF-8";
@import "common-variable";
/*marin*/
.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb11 {
  margin-bottom: 11px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb26 {
  margin-bottom: 26px;
}

/*marin End*/
/*padding*/
.pl17 {
  padding-left: 17px;
}

/*padding End*/

/*宽度width*/
.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w175 {
  width: 175px;
}

/*宽度width End*/

/*高度 height*/
.h38 {
  height: 38px;
}

/*高度 height End*/

.mp-ipt-text {
  border: 1px solid $mp-bd-color;
  padding-left: 5px;
  padding-right: 5px;
}

/*验证*/
.js-help-block {
  padding-left: 5px;
  color: #a94442;
}

/*验证End*/

/*按钮*/
.mp-resn-btn {
  background: $btn-bg;
  color: #fff;
  cursor: pointer;
}

.mp-resn-btn:hover {
  background: $mp-red-active;
}

.mp-resn-btn1 {
  background: #fff;
  color: $btn-bg;
  cursor: pointer;
  border: 1px solid $btn-bg;
}

.mp-resn-btn1:hover {
  color: $mp-red-active;
  border: 1px solid $mp-red-active;
}

/*按钮 End*/

/*修饰*/
.require-mark:before {
  content: '*';
  display: inline;
  color: $mp-red;
  margin-right: 4px;
}

/*修饰 End*/

/*多选框*/
.mp-ckgp {
  height: 38px;
  line-height: 38px;
}

.mp-ck-par {
  position: relative;
  margin-right: 16px;
  cursor: pointer;
}

.mp-ckicon-par {
  position: relative;
  display: inline-block;
  height: 16px;
}

.mp-ck-par .iconfont {
  height: 16px;
  color: $mp-bd-color;
  position: relative;
  top: 2px;
  font-weight: normal;
}

.mp-ck-par .mp-ck-checkedicon {
  position: absolute;
  left: 0;
}

.mp-ckgp-ck {
  vertical-align: middle;
  margin-right: 6px;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
}

/*多选框End*/

/*单选框*/
.mp-rdgp {
  height: 38px;
  line-height: 38px;
}

.mp-rd-par {
  position: relative;
  margin-right: 16px;
  cursor: pointer;
}

.mp-rdicon-par {
  position: relative;
  display: inline-block;
  height: 16px;
}

.mp-rdgp-rd {
  vertical-align: middle;
  margin-right: 6px;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
}

.mp-rd-par .iconfont {
  height: 16px;
  color: $mp-bd-color;
  position: relative;
  top: 2px;
  font-weight: normal;
}

.mp-rd-par .mp-ck-checkedicon {
  position: absolute;
  left: 0;
}

/*单选框End*/