@charset "UTF-8";
$mp-head-h: 80px; //头部高度
$mp-red: #de143a; //主题红色色值
$mp-red-active: #cc1437; //主题红色获取到焦点色值
$mp-hdft-pl: 100px; //头部和底部左右padding
$mp-foot-h: 60px; //底部高度
$mp-bd-color: #e5e5e5; //边框颜色
$btn-bg:#e2202d;